* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 4.8rem;
    background-color: #F3F5FC;
}
html {
    font-size: 62.5%;
}

.logo {
    margin-left: 4rem;
    padding-top: 4rem;
    width: 3.2rem;

}
main {
    display: flex;
    margin-left: 8rem;
    margin-bottom: 5rem;
    column-gap: 10rem;
}
.input-area {
    display: flex;
    flex-direction: column;
    height: 64rem;
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 9rem;
    text-transform: lowercase;

}

.text-area::placeholder {
    color: #0A3871;
}

.text-area:focus {
    outline: none;
}

.result-area {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 2.4rem;
}

.message {
    background-color: #FFFFFF;
    background-image: url(/assets/images/picture.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: #0A3871;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding-left: 2rem;
}

.message:focus {
    outline: none;
}
.info {
    display: flex;
    column-gap: 1rem;
    color: #495057;
    font-size: 1.8rem;
    margin-top: 20rem;
}
.btn-container {
    margin-top: 1.8rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 2.4rem;    
}

.b-btn {
    border: 0.1rem solid #0A3871;
    border-radius: 2.4rem;
    cursor: pointer;
    width: 32.8rem;
    height: 6.7rem;   
}

.b-btn_blue {
    background-color: #0A3871;
    color:#FFFFFF;
}
.b-btn_gray {
    background-color: #D8DFE8;
    color: #0A3871;
}
.b-btn_light-blue {
    width: 33.6rem;
    color: #0A3871;
}